<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests" thread-count="5">
  <test name="Test">
    <classes>
      <class name="com.qa.pages.TestCases.HomePageTest"/>
      <class name="com.qa.pages.TestCases.SignInPageTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
